*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto';
    color:'white'
  }
  
  .Navbar {
    display: flex;
    color: #ffffff;
    background-color: rgb(27, 105, 141);
    flex-wrap: wrap; 
    justify-content:space-between;
     
   }
  
   form {
    display:flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;  
    justify-content: center;
  
   }
  #root { 
    background-color:#000000 ;
    color:#ffffff
  }
  .routinesDiv {
    background-color:white;
    color: black;
  }
  