*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto';
    
  }
  
  .Navbar {
    display: flex;
    color: #ffffff;
    background-color: rgb(27, 105, 141);
    flex-wrap: wrap; 
    justify-content:space-between;
     
   }
  
   form {
    display:flex;
    flex-direction: column;
    margin: 6rem;
    padding: 6rem;  
    justify-content: center;
  
   }
   body{
    background-color: #000000;
    padding: 2rem;
    margin: 2rem;
  }
  #root {    
    color:#ffffff
  }
  .routinesDiv {
    background-color:white;
    color: black;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .myRoutinesDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .createRoutineDiv {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
    
  button {
    color: #ffffff;
    background-color: darkblue;
  }