*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto';
    
  }
  
  .Navbar {
    display: flex;
    color: #FFFCFF;
    background-color: #50514F;
    flex-wrap: wrap; 
    justify-content:space-between;
     
   }
  
   form {
    display:flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;  
    justify-content: center;
  
   }
   body{    
    padding: 4rem;
    margin: 6rem;
  }
  #root {    
    color:#FFFCFF
  }

  .routinesDiv {
    background-color:#FFFCFF;
    color: black;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    justify-items: space-between;
  }
  .myRoutinesDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .createRoutineDiv {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
    
  button {
    color: #ffffff;
    background-color: darkblue;
  }
  .routine {
    width: 50%;
    background-color: white;
    padding: 2vw;
    margin-bottom: 2vh;
  }
 
